body,
html {
  height: 100%;
  margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    text-align: left;
    height: 100%;
    box-sizing: border-box;
}

.container div {
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

.header {
    background-color: #fff;
    grid-column: 2/3;
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.9) !important;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-row: auto;
    padding: 0;
}
.header form {
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 40px;  
}
.header input {
    font-size: 17px;
    padding: 7px;
    border: none;
    border-radius: 18px;
    width: 100%;
    background-color: #e2e8f0;
}
.little-acc div {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    padding: 15px 40px 15px 10px;
    color: black;

}
.little-acc img {
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.profile-info > div {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
    padding: 15px 10px 15px 40px;
    color: black;
}
.profile-info img {
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}
.buttons > div {
    display: flex;
    
    gap: 20px;
    justify-content: end;
    padding: 32px 40px 20px 10px;
}
.buttons button {
    color: white;
    font-weight: bold;
    font-size: small;
    width: 90px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #0ea5e9;

}

/* SIDEBAR */
.sidebar {
    padding: 20px;
    background-color: #0ea5e9;
    grid-row: 1/4;
    grid-template-rows: repeat(10, 1fr);
}
.sidebar > div {
    padding: 5px;
}

.main {
    background-color: #e2e8f0;
    grid-row: 2/4;
    height: 100%;
    
}

.logo {
    display: flex;
    align-items: center;
}
.logo >span {
    font-size: 20px;
}
.nav {
    display: flex;
    align-items: center;
    
}
.nav {
    align-self: center;
}
